<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>404 ERROR</title>
  </head>
  <body>
    <%- include('partials/navbar', { page: '/about' }) %>

    <div class="container mx-auto mt-8">
      <h1 class="text-6xl text-center mb-4">404 - Not Found</h1>

      <p class="text-xl text-center mb-6">
        It seems like you've taken a wrong turn.
      </p>

      <p class="text-center mb-6">
        The page you are looking for is not available.
      </p>

      <div class="text-center">
        <a href="/" class="btn btn-primary">Go to Home</a>
      </div>
    </div>
  </body>
</html>
